/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/* GENERAL */

body{
    max-width:1200px;
    margin:0 auto;
}



/* DEBUG */



/* HEADER */


.container{
   height: 100px;
   background-color:#ADD8E6;
   
   
}


.flex-container{
    display: flex;
    justify-content: space-around;
    background-color: #DAA520;
    height: 45px;
    margin: 25px;
    border: 1px dashed;
    
    

}
    
.flex-small{
    width: 25%;
    padding: 20px;
    border: 1px dashed;
}

.flex-big{
    width: 50%;
    text-align: center;
    padding: 20px;
    border: 1px dashed;
}
    
    
    
/* SECTION 1 */
.container-1{
    background-color: #00008B;
}

section{
    display: flex;
    justify-content: center;
}


section > div{
    height: 400px;
    width: 600px;
    background-color: #EE82EE;
    border: 1px dashed;
    margin-top: 40px;
    margin-bottom: 40px;
}


.container-2{
    background-color: white;
}


.flex-container-2{
    display: flex;
    justify-content: center;
    margin: 0 35px;

}


.blue-box{
    height: 400px;
    width: 60%;
    background-color:#1E90FF;
}

.pink-box{
    height: 400px;
    width: 40%;
    background-color:#FFC0CB;
}

.container-3{
    background-color: #D3D3D3;
}


    
    



